@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">O QUE É CIÊNCIA DE DADOS?</h1>
        <br>
        <p>A ciência de dados é o estudo dos dados para extrair insights significativos para os negócios.
        <br> Ela é uma abordagem multidisciplinar que combina princípios e práticas das áreas de matemática,
        <br> estatística, inteligência artificial e engenharia da computação para
        <br> analisar grandes quantidades de dados. Essa análise ajuda os cientistas de dados
        <br> a fazer e responder perguntas como o que aconteceu, por que aconteceu, o que acontecerá e o que pode ser
        <br> feito com os resultados.</p>
        <img src="https://i.imgur.com/g8EYT2N.png" alt="data_science" id="img1">
</div>        


<div class="text-center">
    <h1 class="display-4">CONHEÇA OUTRAS AREAS DE CIÊNCIA DE DADOS</h1>
</div>
<br>
<br>

<div class="areas">
    <div class="analista">
    <div>
        <img src="https://i.imgur.com/t0QJ1Rm.png" alt="" id="img2">
    <div>
        <h5>Analista de Dados</h5>
    </div>
    <div>
        <p>Os Analistas de Dados traduzem dados para informações, a fim<br> de ajudar as empresas a entender como tomar melhores decisões de negócios.</p>
    </div>
    <div>
        <button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            saiba mais
        </button>
    </div>
    </div>
    </div>
    <br>    
    <br>
    <div class="arquiteto">
    <div>
        <img src="https://i.imgur.com/QgpQUQd.png" alt="arquiteto de dados" id="img2">
    </div>

    <div>
       <h5>Arquitetura de Dados</h5> 
    </div>

    <div>
        <p>O arquiteto de dados ou data architect é um especialista<br> digital que é responsável por propor a estratégia de dados<br> da empresa em que trabalha, influenciando seus padrões de qualidade,<br> o tratamento do fluxo de dados dentro da organização e<br> a segurança do mesmo. </p>
    </div>

    <div>
        <button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            saiba mais
        </button>
    </div>
    </div>
    <br>
    <br>
    <div class="cientista">
    <div>
        <img src="https://i.imgur.com/W71VmWh.png" alt="cientista de dados" id="img2">
    </div>
    <div>
        <h5>Cientista de Dados</h5>
    </div>
    <div>
        <p>Cientista de dados, ou data scientist, é um profissional analítico<br> capacitado para reunir, interpretar, resolver problemas e comunicar toda informação<br> relevante extraída de dados analisados das empresas armazenam informações sobre<br> o comportamento das pessoas, sejam elas seus clientes, prospects, funcionários etc.</p>
    </div>
    <div>
        <button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            saiba mais
        </button>
    </div>
</div>
</div>